<div
    class="notifications"
    [@notificationBlockAnimation]="notificationBlockState"
>
    <div class="card border-primary">
        <div class="card-header">Notifications</div>
        <div class="card-body">
            <div class="notification-tabs-container">
                <ww-radio
                    id="notification-tabs"
                    [options]="listOptions"
                    [type]="ElementType.Primary"
                    [size]="ElementSize.Small"
                    [(ngModel)]="activeListTab"
                    [disabled]="false"
                    [outline]="true"
                />
            </div>
            <ng-container *ngTemplateOutlet="activeBlock"></ng-container>
            <ng-template #unreadMessages>
                //1
            </ng-template>
            <ng-template #readMessages>
                //2
            </ng-template>
            <ng-template #allMessages>
                //3
            </ng-template>
        </div>
    </div>
</div>
