<div
    class="notifications-icon"
    (click)="toggleNotificationBlock()"
>
    <img
        ngSrc="/images/icons/bell.svg"
        alt="Notifications icon"
        width="24"
        height="24"
        priority
    >
    <div
        *ngIf="unreadNotificationsCountFormatted !== null"
        class="notifications-count"
    >
        {{ unreadNotificationsCountFormatted }}
    </div>
</div>
<div
    class="notifications"
    [@notificationBlockAnimation]="notificationBlockState"
>
    <div class="card border-primary">
        <div class="card-header">Notifications</div>
        <div class="card-body">
            <div class="notifications-tabs-container">
                <ww-radio
                    id="notifications-tabs"
                    [options]="listOptions"
                    [type]="ElementType.Primary"
                    [size]="ElementSize.Small"
                    [(ngModel)]="activeListTab"
                    [disabled]="false"
                    [outline]="true"
                />
            </div>
            <div class="notifications-block">
                <div class="notifications-list">
                    <ng-container *ngFor="let notification of activeNotifications">
                        <div
                            class="notification"
                        >
                            {{ notification.message }}
                        </div>
                    </ng-container>
                </div>
                <div
                    class="notifications-preloader-container"
                >
                    <ww-preloader
                        [small]="true"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
