<div class="modal-header">
    <h4 class="modal-title pull-left">{{ user.username }}</h4>
    <button
        type="button"
        class="btn-close close pull-right"
        aria-label="close-btn"
        [disabled]="isLoading"
        (click)="bsModalRef.hide()"
    >
        <span
            aria-hidden="true"
            class="visually-hidden"
        >
            &times;
        </span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="editUserForm">
        <ww-input
            id="username-edit"
            label="Username"
            formControlName="Username"
            [validState]="validationService.checkFieldValidity(editUserForm, 'Username')"
        />
        <ww-radio
            id="defaultAutocomplete"
            label="Automatically close tasks when the limit of subtasks or counters is reached"
            formControlName="AutoCompleteTasks"
            [options]="defaultAutocompleteOptions"
            [type]="ElementType.Primary"
            [size]="ElementSize.Medium"
            [outline]="true"
        ></ww-radio>
        <ww-radio
            id="theme"
            label="Interface color theme"
            formControlName="Theme"
            [options]="themeOptions"
            [type]="ElementType.Primary"
            [size]="ElementSize.Medium"
            [outline]="true"
        ></ww-radio>
        <div>
            <ww-button
                label="Edit User"
                [size]="ElementSize.Medium"
                [type]="ElementType.Primary"
                [disabled]="isLoading"
                (clicked)="editUser()"
            />
        </div>
    </form>
    <form [formGroup]="changePasswordForm">
        <ww-input
            id="pass-old-edit"
            label="Old password"
            formControlName="OldPassword"
            [validState]="validationService.checkFieldValidity(changePasswordForm, 'OldPassword')"
        />
        <ww-input
            id="pass-edit"
            label="Password"
            formControlName="NewPassword"
            [validState]="validationService.checkFieldValidity(changePasswordForm, 'NewPassword')"
        />
        <ww-input
            id="pass-again-edit"
            label="Repeat new password"
            formControlName="RepeatPassword"
            [validState]="validationService.checkFieldValidity(changePasswordForm, 'RepeatPassword')"
        />
    </form>
</div>
<div class="modal-footer">
    <ww-preloader
        *ngIf="isLoading"
        [small]="true"
    ></ww-preloader>
    <ww-button
        label="Close"
        [size]="ElementSize.Medium"
        [type]="ElementType.Light"
        [disabled]="isLoading"
        (clicked)="bsModalRef.hide()"
    />
<!--    <ww-button-->
<!--        label="Log out"-->
<!--        [size]="ButtonSize.Medium"-->
<!--        [type]="ButtonType.Danger"-->
<!--        [disabled]="isLoading"-->
<!--        (clicked)="logout()"-->
<!--    />-->
</div>
