.user-modal-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-modal-preloader {
    margin-right: 8px;
}
.user-modal-input {
    display: block;
    margin-bottom: 16px;
}
