<div
    class="sprint-card card"
    [ngStyle]="borderStyles"
>
    <div class="sprint-card-top">
        <div class="sprint-card-top-title">
            <div
                class="sprint-card-top-title-board"
                [title]="this.sprint.board?.name"
            >
                {{ boardName }}
            </div>
            <div
                class="sprint-card-top-title-sprint text-body-secondary"
                [title]="this.sprint.name"
            >
                {{ sprintName }}
            </div>
        </div>
        <div class="sprint-card-top-expire">
            12 days
        </div>
    </div>
    <div class="sprint-card-tasks">
        {{ tasksStatus }}
    </div>
    @if (isReadyForRoll) {
        <div class="sprint-card-roll-button-container">
            <div class="sprint-card-roll-button"></div>
            <div class="sprint-card-roll-button-icon"></div>
        </div>
    }
</div>
