.sprint-card {
    width: 250px;
    height: 120px;
    padding: 10px 16px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
}
.sprint-card-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sprint-card-top-title-board {
    font-size: 18px;
}
.sprint-card-top-title-sprint {
    font-size: 16px;
}
.sprint-card-top-expire {
    font-size: 14px;
}
.sprint-card-tasks {
    font-size: 24px;
}
.sprint-card-roll-button-container {
    position: absolute;
    right: 0;
    bottom: 0;
    &:hover .sprint-card-roll-button {
        border-color: transparent transparent var(--primaryHoverColor) transparent;
    }
}
.sprint-card-roll-button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 60px 60px;
    border-color: transparent transparent var(--primaryColor) transparent;
    transform: rotate(0deg);
    transition-duration: 0.2s;
}
.sprint-card-roll-button-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-image: url("/images/icons/roll.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
