<div class="sprint-card card border-primary">
    <div class="sprint-card-top">
        <div class="sprint-card-top-title">
            <div class="sprint-card-top-title-board">
                {{ boardName }}
            </div>
            <div class="sprint-card-top-title-sprint">
                {{ sprintName }}
            </div>
        </div>
        <div class="sprint-card-top-expire">
            12 days
        </div>
    </div>
    <div class="sprint-card-tasks">
        {{ tasksStatus }}
    </div>
    <div class="sprint-card-roll-button-container">
        <div class="sprint-card-roll-button"></div>
        <div class="sprint-card-roll-button-icon"></div>
    </div>
</div>
