<div class="mt-3">
    <div
        class="ww-alert"
        [ngClass]="{
            'success': alertType === AlertType.Success,
            'info': alertType === AlertType.Info,
            'danger': alertType === AlertType.Danger,
            'warning': alertType === AlertType.Warning,
        }"
        [ngStyle]="minHeightStyles"
    >
        @if (title || subtitle) {
            <div>
                <strong *ngIf="title">{{ title }}</strong>&nbsp;<span *ngIf="subtitle">{{ subtitle }}</span>
            </div>
        }
        @if (text) {
            <div>
                {{ text }}
            </div>
        }
    </div>
</div>
