<div
    [ngClass]="{
        'form-floating': labelType === InputLabelType.Floating
    }"
>
    @if (labelType === InputLabelType.Default) {
        <label
            class="col-form-label"
            [ngClass]="{
                'col-form-label-lg': size === InputSize.Large,
                'col-form-label-sm': size === InputSize.Small
            }"
            [for]="id"
        >
            {{ label }}
        </label>
    }
    <input
        [type]="type"
        class="ww-input form-control"
        [ngClass]="{
            'form-control-lg': size === InputSize.Large,
            'form-control-sm': size === InputSize.Small,
            'is-valid': validState === InputValidState.Valid,
            'is-invalid': validState === InputValidState.Invalid
        }"
        [id]="id"
        autocomplete="off"
        [disabled]="isDisabled"
        [value]="value"
        (input)="onInput($event)"
        (blur)="onTouched()"
    >
    @if (labelType === InputLabelType.Floating) {
        <label
            [for]="id"
        >
            {{ label }}
        </label>
    }
    @if (validState !== InputValidState.None) {
        <div
            [ngClass]="{
                'valid-feedback': validState === InputValidState.Valid,
                'invalid-feedback': validState === InputValidState.Invalid
            }"
        >
            {{ validatorMessage }}
        </div>
    }
</div>
