.main-layout-navlinks-container {
    max-width: 1200px;
    margin: 0 auto;
}
.main-layout-mobile-notifications {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-toggler {
        margin-left: 15px;
    }
}
.main-layout-notifications-container {
    position: relative;
}
.main-layout-username {
    color: white;
    font-weight: bold;
    cursor: pointer;
}
