.main-layout-navlinks-container {
    max-width: 1200px;
    margin: 0 auto;
}
.main-layout-notifications-container {
    position: relative;
}
.main-layout-username {
    color: white;
    font-weight: bold;
    cursor: pointer;
}
