<div>
    <label
        *ngIf="label"
        [for]="id"
        class="form-label mt-4"
    >
        {{ label }}
    </label>
    <textarea
        class="form-control"
        [ngClass]="{
            'is-valid': validState === InputValidState.Valid,
            'is-invalid': validState === InputValidState.Invalid
        }"
        [id]="id"
        [rows]="size"
        [disabled]="isDisabled"
        [value]="value"
        (input)="onInput($event)"
        (blur)="onTouched()"
    ></textarea>
    <div
        *ngIf="validState !== InputValidState.None"
        [ngClass]="{
            'valid-feedback': validState === InputValidState.Valid,
            'invalid-feedback': validState === InputValidState.Invalid
        }"
    >
        {{ validatorMessage }}
    </div>
</div>
