:root {
    --primaryColor: rgb(140 127 255);
    --secondaryColor: rgb(157 220 219);
    --dangerColor: rgb(255 140 127);
    --warningColor: rgb(242 255 127);
    --successColor: rgb(158 220 157);
    --infoColor: rgb(188 157 220);

    --lightBlackTextColor: rgb(68 68 68);
}
