/* Remove notification icon */
[data-bs-theme="dark"] .notification-remove-button {
    background-image: url("/images/icons/cross-white.svg");
}
[data-bs-theme="light"] .notification-remove-button {
    background-image: url("/images/icons/cross-black.svg");
}

/* Read all notifications icon */
[data-bs-theme="dark"] .notifications-tabs-read-all-button {
    background-image: url("/images/icons/read-white.svg");
}
[data-bs-theme="light"] .notifications-tabs-read-all-button {
    background-image: url("/images/icons/read-black.svg");
}

/* Body background */
body {
    background-size: cover;
}
body[data-bs-theme="dark"] {
    background-image: url("/images/backgrounds/dark.webp");
}
body[data-bs-theme="light"] {
    background-image: url("/images/backgrounds/light.webp");
}
