.scrollable {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
    &::-webkit-scrollbar {
        width: 6px;
        background: transparent;
        border-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: gray;
    }
}

.main-content-container {
    max-width: 1200px;
    margin: 0 auto;
}

.only-mobile {
    display: none;
    @media (max-width: 991px) {
        display: block;
    }
}
.only-desktop {
    display: none;
    @media (min-width: 992px) {
        display: block;
    }
}
