.dashboard-title-container {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-title {
    padding: 12px 24px;
    text-align: center;
}
.dashboard-title-date {
    font-size: 1.2em;
}
.dashboard-sprints {
    margin-bottom: 1.5rem;
}
.dashboard-calendars-and-timers {
    margin-bottom: 1.5rem;
}
.dashboard-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-card-header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.dashboard-card-body-sprints {
    min-height: 152px;
}
.dashboard-card-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.dashboard-card-message-error {
    font-size: 22px;
}
