<div class="main-content-container container-fluid">
    <div class="dashboard-title-container">
        <div class="dashboard-title card">
            <div class="dashboard-title-date">
                {{ currentDate | date: 'EEEE, MMMM d, y' }}
            </div>
            <h1 class="dashboard-title-greetings">
                {{ greetings }}, {{ username }}
            </h1>
        </div>
    </div>
    <div class="dashboard-sprints card">
        <div class="dashboard-card-header card-header">
            <div class="dashboard-card-header-text">
                Active sprints
            </div>
            <div class="dashboard-card-header-buttons">
                <ww-button
                    label="To boards"
                    [size]="ElementSize.Small"
                    [type]="ElementType.Primary"
                    [routerLink]="'/boards'"
                />
                <ww-button
                    label="To sprints"
                    [size]="ElementSize.Small"
                    [type]="ElementType.Primary"
                    [routerLink]="'/sprints'"
                />
            </div>
        </div>
        <div class="dashboard-card-body-sprints card-body">
            @if (loadingStatus.sprints) {
                <div class="dashboard-card-message-container">
                    <ww-preloader />
                </div>
            } @else if (errorStatus.sprints) {
                <div class="dashboard-card-message-container" >
                    <div class="dashboard-card-message-error">Data loading error</div>
                </div>
            } @else if (allSprints.length === 0) {
                <div class="dashboard-card-message-container">
                    <div class="dashboard-card-message-error">You have no sprints</div>
                </div>
            } @else {
                <div class="cards-container">
                    @for (sprint of allSprints; track sprint.id) {
                        <sprint-card [sprint]="sprint" />
                    }
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="dashboard-card-header card-header">
                    <div class="dashboard-card-header-text">
                        Calendars
                    </div>
                    <div class="dashboard-card-header-buttons">
                        <ww-button
                            label="To calendars"
                            [size]="ElementSize.Small"
                            [type]="ElementType.Primary"
                            [routerLink]="'/calendars'"
                        />
                    </div>
                </div>
                <div class="card-body">
                    @if (loadingStatus.calendars) {
                        <div class="dashboard-card-message-container">
                            <ww-preloader />
                        </div>
                    } @else if (errorStatus.calendars) {
                        <div class="dashboard-card-message-container" >
                            <div class="dashboard-card-message-error">Data loading error</div>
                        </div>
                    } @else if (allCalendars.length === 0) {
                        <div class="dashboard-card-message-container">
                            <div class="dashboard-card-message-error">You have no calendars</div>
                        </div>
                    } @else {
                        <div class="cards-container">
                            @for (calendar of allCalendars; track calendar.id) {
                                <calendar-card [calendar]="calendar" />
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="dashboard-card-header card-header">
                    <div class="dashboard-card-header-text">
                        Timers
                    </div>
                    <div class="dashboard-card-header-buttons">
                        <ww-button
                            label="To timers"
                            [size]="ElementSize.Small"
                            [type]="ElementType.Primary"
                            [routerLink]="'/timers'"
                        />
                    </div>
                </div>
                <div class="card-body">
                    //
                </div>
            </div>
        </div>
    </div>
</div>
