<div class="login-form">
    <ww-input
        id="login-input"
        label="Username"
        [(model)]="login"
    />
    <ww-input
        id="pass-input"
        type="password"
        label="Password"
        [(model)]="password"
    />
    <ww-alert
        class="login-form-error"
        [alertType]="AlertType.Danger"
        subtitle="Invalid username or password"
    />
    <div class="login-form-button-main">
        <ww-button
            label="Login"
            [size]="ButtonSize.Large"
            [type]="ButtonType.Primary"
            (clicked)="Login()"
        />
    </div>
    <div class="login-form-button-additional">
        <ww-button
            label="Register"
            [size]="ButtonSize.Small"
            [type]="ButtonType.Primary"
            [outline]="false"
            (clicked)="Login()"
        />
        <ww-button
            label="Import data"
            [size]="ButtonSize.Small"
            [type]="ButtonType.Primary"
            [outline]="false"
            (clicked)="Login()"
        />
    </div>
</div>
