<div class="auth-page">
    <div
        class="auth-page-content"
        [@authPreloaderAnimation]="allPageState"
    >
        <div class="auth-page-content-logo-container">
            <ww-alert
                [alertType]="AlertType.Danger"
                title="Server error."
                subtitle="Unable to establish a connection with the server"
                [@authErrorAnimation]="connectionErrorState"
            />
            <img
                class="auth-page-content-logo"
                ngSrc="/images/logos/logo.svg"
                alt="WinterWay logo"
                width="256"
                height="256"
                priority
                [@authLogoAnimation]="loadingState"
            >
        </div>
        <div
            [@authFormAnimation]="formState"
        >
            <ng-container *ngTemplateOutlet="loadedBlockRef"></ng-container>
        </div>
    </div>

    <ng-template #loginFormBlock>
        <div
            class="auth-page-form"
        >
            <h1>Winter Way</h1>
            <form [formGroup]="loginForm">
                <div class="auth-page-form-input">
                    <ww-input
                        id="login-input"
                        label="Username"
                        formControlName="Username"
                        [validState]="checkFieldValidity(loginForm, 'Username')"
                    />
                </div>
                <div class="auth-page-form-input">
                    <ww-input
                        id="pass-input"
                        type="password"
                        label="Password"
                        formControlName="Password"
                        [validState]="checkFieldValidity(loginForm, 'Password')"
                    />
                </div>
            </form>
            <div class="auth-page-form-info">
                <div class="auth-page-form-info-preloader">
                    <ww-preloader
                        [@authPreloaderAnimation]="preloaderState"
                    />
                </div>
                <ww-alert
                    [alertType]="requestAlertType"
                    [subtitle]="requestAlertMessage"
                    [@authErrorAnimation]="requestAlertState"
                />
            </div>
            <div class="auth-page-button-main">
                <ww-button
                    label="Login"
                    [size]="ButtonSize.Large"
                    [type]="ButtonType.Primary"
                    [disabled]="isLoading"
                    (clicked)="loginClick()"
                />
            </div>
            <div class="auth-page-button-additional">
                <ww-button
                    *ngIf="appStatus?.registrationIsAvailable"
                    label="Register"
                    [size]="ButtonSize.Small"
                    [type]="ButtonType.Primary"
                    [disabled]="isLoading"
                    (clicked)="loadBlock(registerFormBlock)"
                />
                <ww-button
                    *ngIf="appStatus?.importIsAvailable"
                    label="Import data"
                    [size]="ButtonSize.Small"
                    [type]="ButtonType.Primary"
                    [disabled]="isLoading"
                    (clicked)="loadBlock(importFormBlock)"
                />
            </div>
        </div>
    </ng-template>
    <ng-template #registerFormBlock>
        <div
            class="auth-page-form"
        >
            <h1>Registration</h1>
            <form [formGroup]="registrationForm">
                <div class="auth-page-form-input">
                    <ww-input
                        id="login-reg"
                        label="Username"
                        formControlName="Username"
                        [validState]="checkFieldValidity(registrationForm, 'Username')"
                    />
                </div>
                <div class="auth-page-form-input">
                    <ww-input
                        id="pass-reg"
                        type="password"
                        label="Password"
                        formControlName="Password"
                        [validState]="checkFieldValidity(registrationForm, 'Password')"
                    />
                </div>
                <div class="auth-page-form-input">
                    <ww-input
                        id="pass-again-reg"
                        type="password"
                        label="Repeat password"
                        formControlName="RepeatPassword"
                        [validState]="checkFieldValidity(registrationForm, 'RepeatPassword', passwordMismatch)"
                    />
                </div>
            </form>
            <div class="auth-page-form-info">
                <div class="auth-page-form-info-preloader">
                    <ww-preloader
                        [@authPreloaderAnimation]="preloaderState"
                    />
                </div>
                <ww-alert
                    [alertType]="requestAlertType"
                    [subtitle]="requestAlertMessage"
                    [lineHeight]="2"
                    [@authErrorAnimation]="requestAlertState"
                />
            </div>
            <div class="auth-page-button-main">
                <ww-button
                    label="Create account"
                    [size]="ButtonSize.Large"
                    [type]="ButtonType.Primary"
                    [disabled]="isLoading"
                    (clicked)="registrationClick()"
                />
            </div>
            <div class="auth-page-button-back">
                <ww-button
                    label="Go back"
                    [size]="ButtonSize.Small"
                    [type]="ButtonType.Primary"
                    [disabled]="isLoading"
                    (clicked)="loadBlock(loginFormBlock)"
                />
            </div>
        </div>
    </ng-template>
    <ng-template #importFormBlock>
        <div
            class="auth-page-form"
        >
            <h1>Import data</h1>
            <form [formGroup]="importForm">
                <div class="auth-page-form-input">
                    <ww-textarea
                        label="Data JSON"
                        id="import-textarea"
                        [size]="6"
                        formControlName="ImportData"
                        [validState]="checkFieldValidity(importForm, 'ImportData')"
                    />
                </div>
            </form>
            <div class="auth-page-form-info">
                <div class="auth-page-form-info-preloader">
                    <ww-preloader
                        [@authPreloaderAnimation]="preloaderState"
                    />
                </div>
                <ww-alert
                    [alertType]="requestAlertType"
                    [subtitle]="requestAlertMessage"
                    [@authErrorAnimation]="requestAlertState"
                />
            </div>
            <div class="auth-page-button-main">
                <ww-button
                    label="Import"
                    [size]="ButtonSize.Large"
                    [type]="ButtonType.Primary"
                    [disabled]="isLoading"
                    (clicked)="importClick()"
                />
            </div>
            <div class="auth-page-button-back">
                <ww-button
                    label="Go back"
                    [size]="ButtonSize.Small"
                    [type]="ButtonType.Primary"
                    [disabled]="isLoading"
                    (clicked)="loadBlock(loginFormBlock)"
                />
            </div>
        </div>
    </ng-template>
</div>
