<div class="auth-page">
    <div class="auth-page-content">
        <div class="auth-page-content-logo-container">
            <ww-alert
                [alertType]="AlertType.Danger"
                title="Server error."
                subtitle="Unable to establish a connection with the server"
                [@authErrorAnimation]="errorState"
            />
            <img
                class="auth-page-content-logo"
                ngSrc="/images/logo.svg"
                alt="WinterWay logo"
                width="256"
                height="256"
                priority
                [@authLogoAnimation]="loadingState"
            >
        </div>
        <div
            [@authFormAnimation]="formState"
        >
            <ng-container *ngTemplateOutlet="loadedBlockRef"></ng-container>
        </div>
    </div>

    <ng-template #loginForm>
        <div
            class="auth-page-form"
        >
            <h1>Winter Way</h1>
            <div class="auth-page-form-input">
                <ww-input
                    id="login-input"
                    label="Username"
                    [(model)]="login"
                />
            </div>
            <div class="auth-page-form-input">
                <ww-input
                    id="pass-input"
                    type="password"
                    label="Password"
                    [(model)]="password"
                />
            </div>
            <ww-alert
                class="login-form-error"
                [alertType]="AlertType.Danger"
                subtitle="Invalid username or password"
            />
            <div class="auth-page-button-main">
                <ww-button
                    label="Login"
                    [size]="ButtonSize.Large"
                    [type]="ButtonType.Primary"
                    (clicked)="Login()"
                />
            </div>
            <div class="auth-page-button-additional">
                <ww-button
                    label="Register"
                    [size]="ButtonSize.Small"
                    [type]="ButtonType.Primary"
                    (clicked)="loadBlock(registerForm)"
                />
                <ww-button
                    label="Import data"
                    [size]="ButtonSize.Small"
                    [type]="ButtonType.Primary"
                    (clicked)="loadBlock(importForm)"
                />
            </div>
        </div>
    </ng-template>
    <ng-template #registerForm>
        <div
            class="auth-page-form"
        >
            <h1>Registration</h1>
            <div class="auth-page-form-input">
                <ww-input
                    id="login-reg"
                    label="Username"
                    [(model)]="login"
                />
            </div>
            <div class="auth-page-form-input">
                <ww-input
                    id="pass-reg"
                    type="password"
                    label="Password"
                    [(model)]="password"
                />
            </div>
            <div class="auth-page-form-input">
                <ww-input
                    id="pass-again-reg"
                    type="password"
                    label="Repeat зassword"
                    [(model)]="password"
                />
            </div>
            <ww-alert
                class="login-form-error"
                [alertType]="AlertType.Danger"
                subtitle="Invalid username or password"
            />
            <div class="auth-page-button-main">
                <ww-button
                    label="Create account"
                    [size]="ButtonSize.Large"
                    [type]="ButtonType.Primary"
                    (clicked)="Login()"
                />
            </div>
            <div class="auth-page-button-back">
                <ww-button
                    label="Go back"
                    [size]="ButtonSize.Small"
                    [type]="ButtonType.Primary"
                    (clicked)="loadBlock(loginForm)"
                />
            </div>
        </div>
    </ng-template>
    <ng-template #importForm>
        <div
            class="auth-page-form"
        >
            <h1>Import data</h1>
            <div class="auth-page-form-input">
                <ww-textarea
                    label="Data JSON"
                    id="import-textarea"
                    [size]="6"
                    [(model)]="password"
                />
            </div>
            <div class="auth-page-button-main">
                <ww-button
                    label="Import"
                    [size]="ButtonSize.Large"
                    [type]="ButtonType.Primary"
                    (clicked)="Login()"
                />
            </div>
            <ww-alert
                class="login-form-error"
                [alertType]="AlertType.Danger"
                subtitle="Invalid data format"
            />
            <div class="auth-page-button-back">
                <ww-button
                    label="Go back"
                    [size]="ButtonSize.Small"
                    [type]="ButtonType.Primary"
                    (clicked)="loadBlock(loginForm)"
                />
            </div>
        </div>
    </ng-template>
</div>
