.auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--primaryColor);
    h1 {
        text-align: center;
    }
}
.auth-page-content {
    min-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.auth-page-content-logo-container {
    width: 600px;
    text-align: center;
}
.auth-page-content-logo {
    position: relative;
}
.auth-page-form {
    width: 600px;
    padding: 20px 50px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.6);
}
.auth-page-form-info {
    position: relative;
}
.auth-page-form-info-preloader {
    position: absolute;
    width: 100%;
    text-align: center;
}
.auth-page-form-input {
    margin-bottom: 15px;
}
.auth-page-button-main {
    text-align: center;
}
.auth-page-button-additional {
    text-align: right;
}
.auth-page-button-back {
    text-align: left;
}
